<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/materialize.min.css') }}" media="screen,projection">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/custom.css') }}" media="screen,projection">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
<header class="page-header">
    <nav>
        <div class="nav-wrapper up-maroon">
            <div class="container">
                <img class="responsive-img" src="{{ url_for('static', filename="img/upm_logo.png") }}">
                <a class="brand-logo" href="{{ url_for('index') }}">Trainer</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('dataset') }}">Dataset</a></li>
                    <li><a href="{{ url_for('architectures') }}">Network Architectures</a></li>
                    <li><a href="{{ url_for('train') }}">Train</a></li>
                    <li><a href="{{ url_for('tasks', task='view') }}">Tasks</a></li>
                    <li><a href="{{ url_for('models') }}">Models</a></li>
                </ul>
                <ul id="mobile-demo" class="side-nav">
                    <li><a href="{{ url_for('dataset') }}">Dataset</a></li>
                    <li><a href="{{ url_for('architectures') }}">Network Architectures</a></li>
                    <li><a href="{{ url_for('train') }}">Train</a></li>
                    <li><a href="{{ url_for('tasks', task='view') }}">Tasks</a></li>
                    <li><a href="{{ url_for('models') }}">Models</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    {% block body %}{% endblock %}
</main>
<footer class="page-footer up-maroon">
    <div class="footer-copyright">
        <div class="container">
            &copy; 2018 Jerome Patrick V. Gonzalvo
        </div>
    </div>
</footer>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
{% block extra_script %}
{% endblock %}
</body>
</html>