{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
    <h3>Running Tasks</h3>
    <ul class="collection black-text">
    {% if not running_tasks %}
        <li class="collection-item">No task is running.</li>
    {% else %}
        {% for running_task in running_tasks %}
            <li class="collection-item row">
                <ul>
                    <li class="col s3">{{ running_task }}</li>
                    <li class="col s3 right">
                        <form method="post" action="{{ url_for('terminate', task=running_task) }}">
                            <button type="submit" class="waves-effect waves-light btn red right">Terminate</button>
                        </form>
                    </li>
                </ul>
            </li>
        {% endfor %}
    {% endif %}
    </ul>
{% endblock %}
{% block extra_script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/toast.js') }}"></script>
    <script>
        toast({{ get_flashed_messages()|tojson }})
    </script>
{% endblock %}