<h4>Architecture Selection</h4>
<div class="row">
  <div class="input-field col s4">
    <select name="architecture" required>
      {% for architecture in architectures %}
          <option value={{ architecture.value }}>{{ architecture.value }}</option>
      {% endfor %}
    </select>
    <label>Architecture</label>
  </div>
  <div class="input-field col s4">
    <input type="number" name="num_hidden_units" min="1" step="1" id="num_hidden_units" class="validate" required/>
    <label for="num_hidden_units">Number of hidden units per layer</label>
  </div>
</div>