<h4>Hyperparameter Adjustments</h4>
<div class="row">
  <div class="input-field col s3">
    <input type="number" name="num_epochs" value="1" min="1" step="1" id="num_epochs" class="validate" required/>
    <label for="num_epochs">Number of epochs</label>
  </div>
  <div class="input-field col s3">
    <select name="solver_type" required>
        {% for optimizer in optimizers %}
            <option value={{ optimizer.value }}>{{ optimizer.value|capitalize }}</option>
        {% endfor %}
    </select>
    <label>Solver type</label>
  </div>
  <div class="input-field col s3">
    <input type="number" name="learning_rate" min="0.001" value="0.001" step="any" id="learning_rate" class="validate" required/>
    <label for="learning_rate">Learning rate</label>
  </div>
  <div class="input-field col s3">
    <input type="number" name="batch_size" min="1" step="1" value="1" id="batch_size" class="validate" required/>
    <label for="batch_size">Batch size</label>
  </div>
<div class="input-field col s3">
    <input type="number" name="validation_steps" min="1" step="1" value="1" id="validation_steps" class="validate" />
    <label for="validation_steps">Validation steps</label>
  </div>
</div>